.titlestyle {
  background-color: rgb(185, 87, 87);
  color: rgb(241, 236, 236);
  height: 50px;
}
.textstyle {
  background-color: rgb(231, 161, 161);
  color: rgb(241, 236, 236);
  font-size: larger;
  height: 100px;
}
