.titlestyle {
  background-color: rgb(26, 25, 25);
  color: rgb(241, 236, 236);
  height: 50px;
}
.textstyle {
  background-color: rgb(53, 51, 51);
  color: rgb(241, 236, 236);
  font-size: larger;
  height: 100px;
}
